<div class="collapse show" id="sidebar">
  <div class="page-title">
    <%= link_to @page.name, page_path(@page) %>
  </div>
  <hr class="sidebar-separator">
  <ul class="nav flex-column flex-nowrap overflow-hidden">
    <%= render "dashboard/sidebar/podcast_episodes" %>
    <%= render "dashboard/sidebar/blog_posts" %>
    <%= render "dashboard/sidebar/stats" %>
    <%= render "dashboard/sidebar/settings" %>
  </ul>
  <%= render "dashboard/sidebar/logo" if @page.logo %>
</div>
