<div class="page-title">
  <%= link_to @page.name, page_path(@page) %>
</div>
<hr class="sidebar-separator">
<ul class="nav flex-column flex-nowrap overflow-hidden">
  <%= render "dashboard/sidebar/audio_posts" %>
  <%= render "dashboard/sidebar/text_posts" %>
  <%= render "dashboard/sidebar/analytics" %>
  <%= render "dashboard/sidebar/settings" %>
</ul>
<%= render "dashboard/sidebar/logo" if @page.logo %>
