<div class="content">
  <h2>All Downloads</h2>
  <% unless @posts.empty? %>
    <p>
      MTGCast tracks every download of each episode and breaks them down into three categories: <em>Individual</em>, <em>Aggregate</em>, and <em>Total</em>.
    </p>
    <p>
      <em>Individual</em> represents the downloads from <%= link_to 'your unique RSS feed', page_feed_path(@page) %> as well as the plays initiated from each episode's embedded audio player. <em>Aggregate</em> represents the downloads from MTGCast's aggregate feed, while <em>Total</em> combines the <em>Individual</em> and <em>Aggregate</em> counts.
    </p>
    <p>
      Please note that download numbers are always subject to change. MTGCast analyzes downloads and attempts to filter out duplicate downloads, bots, etc, and that algorithm is constantly evolving.
    </p>
    <table class="table table-outer-border table-hover">
      <thead>
        <tr>
          <th>
            Episode
          </th>
          <th>
            Date Published
          </th>
          <th>
            Individual
          </th>
          <th>
            Aggregate
          </th>
          <th>
            Total
          </th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="bold">
              <%= link_to post.postable.title, page_post_path(@page, post) %>
            </td>
            <td>
              <%= post.publish_time.strftime('%-m/%-d/%Y') %>
            </td>
            <td class="view text-center">
              <%= post.postable.individual_downloads %>
            </td>
            <td class="view text-center">
              <%= post.postable.aggregate_feed_downloads %>
            </td>
            <td class="view text-center">
              <%= post.postable.total_downloads %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      <strong>You haven't uploaded any episodes.</strong>
    </p>
  <% end %>
  <div class="pagination-container">
    <%= will_paginate @posts %>
  </div>
</div>
