<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there!</h1>
    <p>
      <%= @name %> (<%= @email %>) is requesting to recover <%= @podcast_name %>.
    </p>
    <% if @podcast %>
      <p>
        <%= link_to @podcast.name, @url %>
      </p>
    <% end %>
    <%= simple_format(@description) %>
  </body>
</html>
