<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2>Edit Profile</h2>
    <%= form_for @user, html: { class: 'needs-validation', novalidate: true } do |f| %>
      <div class="form-group required">
        <%= f.label :first_name, class: 'control-label' %>
        <%= f.text_field :first_name, autofocus: true, required: true, class: 'form-control' %>
      </div>

      <div class="form-group required">
        <%= f.label :last_name, class: 'control-label' %>
        <%= f.text_field :last_name, autofocus: false, required: true, class: 'form-control' %>
      </div>

      <div class="form-group required">
        <%= f.label :email, class: 'control-label' %>
        <%= f.email_field :email, autofocus: false, required: true, autocomplete: 'email', pattern: "[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
