<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="simple-nav">
      <span>
        <%= link_to '< Settings', page_settings_path(@page) %>
      </span>
    </div>
    <span>
      Settings for
    </span>
    <h1><%= @page.name %></h1>
    <div>
      <%= form_with model: @page, html: { class: 'needs-validation', novalidate: true } do |form| %>
        <div class="form-group required">
          <%= form.label :name, 'Name', class: 'control-label' %>
          <%= form.text_field :name, autofocus: true, required: true, class: 'form-control edit-post-title'%>
        </div>
        <div class="actions">
          <%= form.submit 'Update', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
