<div class="row">
  <div class="hero-container">
    <div class="hero-page-image">
      <div class="page-image no-border" style="background-image: url(<%= @logo_url %>)">
      </div>
    </div>
    <div class="hero-episode-container">
      <div class="page-name-container">
        <h1>
          <%= @page.name %>
        </h1>
        <% if current_user && policy(@page.posts.build).create? %>
          <div class="page-admin-button-container">
            <%= link_to 'Settings', page_settings_path(@page), class: 'btn btn-sm btn-light' %>
            <%= link_to 'Stats', page_stats_path(@page), class: 'btn btn-sm btn-light' %>
            <%= link_to '+ Episode', new_page_post_path(@page), class: 'btn btn-sm btn-primary' %>
          </div>
        <% end %>
      </div>
      <% if @first_post %>
        <div class="page-post-info-container page-show">
          <span>
            <%= @first_post.publish_time.localtime.strftime('%m/%d/%Y') %>
          </span>
          <h3>
            <%= link_to @first_post.postable.title, page_post_path(@page, @first_post) %>
          </h3>
          <p>
            <%= simple_format(truncate(@first_post.postable.content.to_plain_text, length: 250)) %>
          </p>
          <p>
            <%= link_to 'Read more', page_post_path(@page, @first_post)  %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-10 offset-md-1">
    <div class="posts-container">
      <% if @page.posts %>
        <% @posts.each do |post| %>
          <div class="post-container">
            <div class="post-info">
              <h3>
                <%= link_to post.postable.title, page_post_path(@page, post) %>
              </h3>
              <p>
                <em><%= 'Scheduled For: ' if post.publish_time > Time.now %>
                <%= post.publish_time.localtime.strftime('%m/%d/%Y') %></em>
              </p>
              <p>
                <%= simple_format(truncate(post.postable.content.to_plain_text, length: 150)) %>
              </p>
              <p class="page-read-more hidden">
                <%= link_to 'View', page_post_path(@page, post) %>
              </p>
            </div>
          </div>
        <% end %>
        <% (@posts.length % 3).times do %>
          <div class="post-container blank">
          </div>
        <% end %>
      <% else %>
        You don't have any podcasts.
      <% end %>
    </div>
    <div class="pagination-container">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>
