<div class="row">
  <%= render 'admin/sidebar' %>
  <div class="page-admin">
    <h2>Podcast Information</h2>
    <hr>
    <div class="page-settings-section">
      <h4>Basic Information</h4>
      <p>
        This information about your podcast will be used throught MTGCast and your podcast's RSS feed.
      </p>
      <%= form_with model: @page, url: page_admin_settings_path(@page), method: 'put', html: { class: 'needs-validation', novalidate: true, remote: false } do |form| %>
        <div class="form-group required">
          <%= form.label :name, 'Name', class: 'control-label' %>
          <%= form.text_field :name, required: true, class: 'form-control'%>
        </div>
        <div class="form-group required">
          <%= form.label :description, 'Description', class: 'control-label' %>
          <%= form.rich_text_area :description, required: true, class: 'form-control medium' %>
        </div>
        <div class="actions">
          <%= form.submit 'Update Info', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="page-settings-section">
      <h4>Category</h4>
      <p>
        Please categorize your podcast based on the topic that you cover. This category will be used to help listeners find your work when using MTGCast's search and filtering options.
      </p>
      <%= form_with model: @category, url: page_admin_categories_path(@page), method: 'post' do |form| %>
        <div class="form-group required">
          <%= select_tag 'category[name]', grouped_options_for_select(categories_for_select, @page.categories&.first&.name, {}), include_blank: "Select Category", required: true, class: "form-control" %>
        </div>
        <div class="actions">
          <% if @page.categories.any? %>
            <%= form.submit 'Update Category', class: 'btn btn-primary' %>
          <% else %>
            <%= form.submit 'Add Category', class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
