<div class="row">
  <div class="col-md-8 offset-md-2">
    <div>
      <h1><%= link_to @page.name, page_path(@page), class: 'page-name-link' %></h1>
      <h4><%= @post.postable.title %></h4>
      <p>
        <%= link_to "Edit", edit_page_post_path(@page, @post), class: 'btn btn-sm btn-light' if current_user && policy(@post).edit? %>
      </p>
      <p>
        by <%= link_to @page.name, page_path(@page) %><br />
        <em><%= @post.publish_time.localtime.strftime('%m/%d/%Y') %></em>
      </p>
      <div>
        <% if @post.postable.audio.first&.file&.metadata&.dig('mime_type') == 'audio/mpeg' %>
          <p>
            <audio id="player" controls>
              <source src="<%= @post.postable.audio.first.url %>" type="audio/mp3">
            </audio>
          </p>
        <% end %>
      </div>
      <p>
        <%= simple_format(@post.postable.description) %>
      </p>
    </div>
  </div>
</div>
<script>
  $('#player').on('play', function() {
    if (this.currentTime === 0) {
      console.log('log play')
    }
  })
</script>
