<div class="editor__header">
  <button type="button" class="menu-item tiptap-command bold" title="Bold">
    <%= image_tag 'bold.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command italic" title="Italic">
    <%= image_tag 'italic.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command strike" title="Strikethrough">
    <%= image_tag 'strikethrough.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command code" title="Code">
    <%= image_tag 'code.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command highlight" title="Highlight">
    <%= image_tag 'mark-pen-line.svg', class: 'sidebar-icon' %>
  </button>
  <div class="divider"></div>
  <button type="button" class="menu-item tiptap-command h-1" title="H1">
    <%= image_tag 'h-1.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command h-2" title="H2">
    <%= image_tag 'h-2.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command h-3" title="H2">
    <%= image_tag 'h-3.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command paragraph" title="Paragraph">
    <%= image_tag 'paragraph.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command bullet-list" title="Bulleted List">
    <%= image_tag 'list-unordered.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command ordered-list" title="Ordered List">
    <%= image_tag 'list-ordered.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command task-list" title="Task List">
    <%= image_tag 'list-check.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command code-block" title="Code Block">
    <%= image_tag 'code-box-line.svg', class: 'sidebar-icon' %>
  </button>
  <div class="divider"></div>
  <button type="button" class="menu-item tiptap-command block-quote" title="Blockquote">
    <%= image_tag 'double-quotes-l.svg', class: 'sidebar-icon' %>
  </button>
  <button type="button" class="menu-item tiptap-command horizontal-rule" title="Horizontal Rule">
    <%= image_tag 'separator.svg', class: 'sidebar-icon' %>
  </button>
</div>
