<div class="content">
  <h2>All Episodes</h2>
  <p>
    These are standard podcast episodes&mdash;an audio file and some accompanying text/links/images&mdash;that are then included in an RSS feed and available for download from any podcast player.
  </p>
  <% unless @posts.empty? %>
    <table class="table table-outer-border table-hover">
      <thead>
        <tr>
          <th>
            Episode
          </th>
          <th>
            Date Published
          </th>
          <th class="downloads-counter">
            Downloads
            <span data-toggle="tooltip" data-placement="top" title="Download numbers are always subject to change. MTGCast analyzes downloads and attempts to filter out duplicate downloads, bots, etc, and that algorithm is constantly evolving.">
              <%= image_tag('help-circle.svg', class: 'more-info-tooltip') %>
            </span>
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <% next unless post.postable %>
          <tr>
            <td class="bold">
              <% if !post.postable.podcast_episode && post.postable.import_errors %>
                <div class="error-icon-container" data-toggle="tooltip" data-placement="top" title="No audio file">
                  <%= render 'shared/icons/exclamation_circle', color: 'red', size: '1.5rem' %>
                </div>
              <% end %>
              <%= link_to post.postable.title, page_post_path(@page, post) %>
            </td>
            <td>
              <%= post.publish_time.strftime('%-m/%-d/%Y') %>
              <%= '(Scheduled)' if post.publish_time > Time.zone.now %>
            </td>
            <td class="view text-center">
              <%= post.postable.total_downloads %>
            </td>
            <td class="view text-center">
              <%= link_to 'View', page_post_path(@page, post), class: 'btn btn-sm btn-primary' %>
            </td>
            <td class="view text-center">
              <%= link_to 'Edit', edit_page_dashboard_audio_post_path(@page, post), class: 'btn btn-sm btn-light' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      You haven't uploaded any episodes. <%= link_to 'Create one now', new_page_dashboard_audio_post_path(@page) %>.
    </p>
  <% end %>
  <div class="pagination-container">
    <%= will_paginate @posts %>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>