<div class="row">
  <%= render 'dashboard/sidebar' %>
  <div class="page-admin">
    <div class="content">
      <h2>All Episodes</h2>
      <p>
        These are standard podcast episodes&mdash;an audio file and some accompanying text/links/images&mdash;that are then included in an RSS feed and available for download from any podcast player.
      </p>
      <% unless @posts.empty? %>
        <table class="table table-outer-border">
          <thead>
            <tr>
              <th>
                Episode
              </th>
              <th>
                Date Published
              </th>
              <th>
                Downloads
              </th>
              <th>
              </th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <% next unless post.postable %>
              <tr>
                <td>
                  <% if !post.postable.podcast_episode && post.postable.import_errors %>
                    <div class="error-icon-container" data-toggle="tooltip" data-placement="top" title="No audio file">
                      <%= render 'shared/icons/exclamation_circle', color: 'red', size: '1.5rem' %>
                    </div>
                  <% end %>
                  <%= link_to post.postable.title, page_post_path(@page, post) %>
                </td>
                <td>
                  <%= post.publish_time.strftime('%-m/%-d/%Y') %>
                  <%= '(Scheduled)' if post.publish_time > Time.zone.now %>
                </td>
                <td class="view text-center">
                  <%= post.postable.total_downloads %>
                </td>
                <td class="view text-center">
                  <%= link_to 'View', page_post_path(@page, post), class: 'btn btn-sm btn-primary' %>
                </td>
                <td class="view text-center">
                  <%= link_to 'Edit', edit_page_dashboard_audio_post_path(@page, post), class: 'btn btn-sm btn-light' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>
          You haven't uploaded any episodes. <%= link_to 'Create one now', new_page_dashboard_audio_post_path(@page) %>.
        </p>
      <% end %>
      <div class="pagination-container">
        <%= will_paginate @posts %>
      </div>
      <% if @page.created_at < "2020-03-01"%>
        <p>
          <em>
            Note: Episodes from 2018 and earlier may show the incorrect publish date due to an MTGCast server error. Also, episodes published before mid-September 2019 will not include download count information while episodes before mid-February 2020 will not have accurate individual/aggregate feed download splits.
          </em>
        </p>
      <% end %>
    </div>
  </div>
</div>
