<div class="row">
  <div class="col-md-8 offset-md-2">
    <span>
      Stats for
    </span>
    <h1><%= @page.name %></h1>
    <% unless @posts.empty? %>
      <table class="table table-outer-border">
        <thead>
          <tr>
            <th>
              Episode
            </th>
            <th>
              Date Published
            </th>
            <th>
              Downloads
            </th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post.postable.title, page_post_path(@page, post) %>
              </td>
              <td>
                <%= post.publish_time.strftime('%m/%d/%Y') %>
              </td>
              <td class="view text-center">
                <%= post.postable.downloads %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>
        You haven't uploaded any episodes.
      </p>
    <% end %>
    <div class="pagination-container">
      <%= will_paginate @posts %>
    </div>
    <p>
      <em>Note: Episodes from 2018 and earlier may show the incorrect publish date due to an MTGCast server error. Also, episodes published before mid-September 2019 will not inlcude download count information.</em>
    </p>
  </div>
</div>