<nav class="navbar navbar-expand-lg navbar-light <%= 'home' if current_page?(root_path) %>">
  <a class="navbar-brand" href="<%= root_url %>"><%= image_tag 'mtgcast-logo-orange.png', class: "logo" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse pull-left" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item action">
        <% unless current_page?(user_pages_path) || (@page&.persisted? && current_page?(new_page_post_path(@page))) %>
        <% if current_user && current_user.pages.any?%>
          <% if @page && @page.user == current_user && @page.externally_hosted %>
          <% elsif @page && @page.user == current_user %>
            <%= link_to '+ Episode', new_page_post_path(@page), class: 'nav-link btn btn-outline-primary' %>
          <% else %>
            <%= link_to 'Upload', user_upload_path, class: 'nav-link btn btn-outline-primary' %>
          <% end %>
        <% else %>
          <%= link_to 'Create a Podcast', new_page_path, class: 'nav-link btn btn-outline-primary' %>
        <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Podcasts', pages_path, class: 'nav-link' %>
      </li>
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfileMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfileMenuLink">
            <% if current_user.multiple_podcasts %>
              <%= link_to 'My Podcasts', user_pages_path, class: 'dropdown-item' %>
            <% else %>
              <% page = current_user.pages.first %>
              <% if page %>
                <%= link_to "#{page.name}", page_posts_path(page), class: 'dropdown-item' %>
              <% else %>
                <%= link_to 'Create a Podcast', new_page_path, class: 'dropdown-item' %>
              <% end %>
            <% end %>
            <%= link_to 'Profile', user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Support', support_path, class: 'dropdown-item' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
          </div>
        </li>
        <% if (@page && @page.persisted? && (current_page?(page_posts_url(@page)) || current_page?(new_page_post_url(@page)) || current_page?(page_stats_path(@page)) || current_page?(page_settings_path(@page)))) || (@page && @page.persisted? && @post && current_page?(edit_page_post_url(@page, @post))) %>
          <li class="nav-item dropdown mobile-only">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPageMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @page.name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPageMenuLink">
              <%= link_to 'Episodes', page_posts_path(@page), class: 'dropdown-item' %>
              <ul class="nested-submenu">
                <li><%= link_to 'All Episodes', page_posts_path(@page), class: 'dropdown-item' %></li>
                <li><%= link_to 'Add New', new_page_post_path(@page), class: 'dropdown-item' %></li>
              </ul>
              <%= link_to 'Analytics', page_stats_path(@page), class: 'dropdown-item' %>
              <%= link_to 'Settings', page_settings_path(@page), class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
