<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131534524-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131534524-1');
    </script>

    <title>MTGCast</title>
    <%= csrf_meta_tags %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <link href="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'favicons/apple-icon-57x57.png' %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'favicons/apple-icon-60x60.png' %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'favicons/apple-icon-72x72.png' %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'favicons/apple-icon-76x76.png' %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'favicons/apple-icon-114x114.png' %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path 'favicons/apple-icon-120x120.png' %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'favicons/apple-icon-144x144.png' %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'favicons/apple-icon-152x152.png' %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'favicons/apple-icon-180x180.png' %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_path 'favicons/android-icon-192x192.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path 'favicons/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path 'favicons/favicon-96x96.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path 'favicons/favicon-16x16.png' %>">
    <link rel="manifest" href="<%= asset_path 'favicons/manifest.json'%>">
    <meta name="msapplication-TileColor" content="#f' %>fffff">
    <meta name="msapplication-TileImage" content="<%= image_path 'favicons/ms-icon-144x144.png' %>">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="<%= "page-admin-body" if (@page && @page.persisted? && (current_page?(page_posts_url(@page)) || current_page?(new_page_post_url(@page)) || current_page?(page_stats_path(@page)) || current_page?(page_settings_path(@page)) || current_page?(new_page_logo_path(@page)) || current_page?(edit_page_logo_path(@page)) || current_page?(page_delete_path(@page)))) || (@page && @page.persisted? && @post && current_page?(edit_page_post_url(@page, @post))) %>">
    <%= render "layouts/nav" %>
    <div id="content">
      <div class="container-fluid">
        <% if alert %>
          <div class="alert alert-danger alert-dismissible fade show col-sm-6 offset-sm-3" role="alert">
            <span><%= alert %></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% elsif notice %>
          <div class="alert alert-success alert-dismissible fade show col-sm-6 offset-sm-3" role="alert">
            <span><%= notice %></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <% unless (@page && @page.persisted? && (current_page?(page_posts_url(@page)) || current_page?(new_page_post_url(@page)) || current_page?(page_stats_path(@page)) || current_page?(page_settings_path(@page)) || current_page?(new_page_logo_path(@page)) || current_page?(edit_page_logo_path(@page)) || current_page?(page_delete_path(@page)))) || (@page && @page.persisted? && @post && current_page?(edit_page_post_url(@page, @post))) %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
